/* General body styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}
/* footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
} */

/* header .logo {
  display: inline-block;
}

header h1 {
  display: inline-block;
  margin-left: 20px;
} */

.navbar {
  background-color: #4BAAC8;
  overflow: hidden;
}

.navbar a {
  float: left; 
  display: block; 
  color: #fff; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #3187A2; 
}

.navbar a.active {
   background-color: #4CAF50;
   color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
 font-size: 16px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
 font-family: inherit; 
 margin: 0;
}
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: left;
}

.dropdown-content a:hover {
 background-color: #ddd;
}

.dropdown:hover .dropdown-content {
 display: block;
}

.p {
  font-size: 16;
  line-height: 1.5em;
  color: #555;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
